@font-face {
    font-family: "TTHoves-Regular";
    src: url(../fonts/TTHoves-Regular.woff) format("woff"),
      url(../fonts/TTHoves-Regular.ttf) format("truetype"),
      url(../fonts/TTHoves-Regular.woff2) format("woff2");
    font-style: normal;
  }

  @font-face {
    font-family: "TTHoves-Bold";
    src: url(../fonts/TTHoves-Bold.woff) format("woff"),
      url(../fonts/TTHoves-Bold.ttf) format("truetype"),
      url(../fonts/TTHoves-Bold.woff2) format("woff2");
    font-style: normal;
  }

  .wrapper {
    max-width: 550px;
    margin: 0 auto;
  }
  h1 {
    font-size: 1em;
  }
  
  .heading {
    text-align: center;
    font-size: 25px;
    color: #333333;
    margin-bottom: 5%;
  }

  .form {
    width: 100%;
    font-family: TTHoves-Regular;
    font-size: 14px;
    color: #333333;
  }
  
  .button{
    background-color: #333333;
    width: 100%;
    min-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .btn {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }

  .input {
    width: 100%;
    min-height: 40px;
    margin: 4% 0;
    font-family: TTHoves-Regular;
    font-size: 14px;
    color: #333333;
    background-color: #e5e5e5;
    border: none;
  }

  .textarea {
    width: 100%;
    min-height: 100px;
    margin: 20px 0;
    background-color: #e5e5e5;
    border: none;
    font-family: TTHoves-Regular;
    font-size: 14px;
    color: #333333;
  }
  .checkbox {
    margin-bottom: 10%;
  }