@font-face {
    font-family: "TTHoves-Light";
    src: url(../fonts/TTHoves-Light.woff) format("woff"),
        url(../fonts/TTHoves-Light.ttf) format("truetype"),
        url(../fonts/TTHoves-Light.woff2) format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "TTHoves-Bold";
    src: url(../fonts/TTHoves-Bold.woff) format("woff"),
        url(../fonts/TTHoves-Bold.ttf) format("truetype"),
        url(../fonts/TTHoves-Bold.woff2) format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "TTHoves-Regular";
    src: url(../fonts/TTHoves-Regular.woff) format("woff"),
        url(../fonts/TTHoves-Regular.ttf) format("truetype"),
        url(../fonts/TTHoves-Regular.woff2) format("woff2");
    font-style: normal;
}

/*header + footer*/

.wid {
    width: 150%;
}

.min {
    min-width: 270px;
}

.your-style {
    font-family: "TTHoves-Regular";
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.your-style1 {
    font-family: "TTHoves-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.your-style2 {
    font-family: "TTHoves-Light";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.nav-link {
    text-decoration-line: none;
    color: black;
}

.nav-item:hover {
    text-decoration: underline;
    color: blueviolet;
}

.link-secondary {
    text-decoration-line: none;
    color: white;
}

.paddin {
    padding-bottom: 10px;
}

.list li {
    margin-bottom: 5%;
}

.down {
    border: 1px solid #858383;
}

.wrapper-header {
    max-width: 1200px;
    /* margin: auto; */
    margin-left: 9.5%;
    margin-right: 9.5%;
}

.twoline {
    text-decoration: underline overline;
}

@media all and (max-width: 650px) {
    .heading-top {
        font-size: 30px;
        text-align: center;
    }

    .heading-down {
        font-size: 30px;
        text-align: center;
    }

    .two img {
        max-width: 280px;
    }
}


/*основная часть*/

.all {
    margin-left: 9.5%;
    margin-right: 9.5%;
}

.heading_our {
    font-family: "TTHoves-Light";
    font-weight: 300;
    font-size: 64px;
    color: #BDBDBD;
    text-transform: uppercase;
    margin: 0;
}

.heading_projects {
    font-family: "TTHoves-Bold";
    font-weight: 700;
    font-size: 64px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
}

.line {
    border: 1px #e5e5e5 solid;
    margin-top: 3%;
    margin-bottom: 4%;
}

.block {
    display: grid;
    grid-template-columns: 57% 43%;
    background-color: #FBFBFB;
    margin-bottom: 3.5%;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.h_block {
    font-family: "TTHoves-Light";
    font-size: 3vw;
    font-weight: 300;
    margin: 5% 4% 10% 4%;
    color: #BDBDBD;
}

.text_block {
    font-family: "TTHoves-Light";
    font-size: 16px;
    font-weight: 300;
    margin: 6% 15% 3% 4%;
    color: #000000;
}

.btn {
    font-family: "TTHoves-Regular";
    font-size: 12px;
    font-weight: 400;
    border: none;
    color: #333333;
    background-color: white;
    text-transform: uppercase;
    width: 207px;
    height: 71px;
    margin: 4%;
}

.navig {
    color: #333333;
    border: none;
}

/* Кнопки */

.btns {
    margin-top: 5%;
    margin-bottom: 10%;
    position: relative;
    height: 64px;
    display: grid;
    align-content: center;

}

.numbers {
    width: 140px;
    font-family: "TTHoves-Regular";
    font-size: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
}

.numberone {
    color: #333333;
}

.numbertwo {
    color: #bdbdbd;
    text-align: right;
}

.slash {
    width: 33px;
    height: 33px;
    position: absolute;
    margin-left: 50px;
    margin-top: 12px;
}

.left,
.right {
    background-color: white;
    border: none;
    position: absolute;
    margin-top: 10px;
}

.left {
    margin-left: 165px;
}

.right {
    margin-left: 225px;
}

.imgleft,
.imgright {
    width: 43px;
}


@media all and (min-width: 651px) and (max-width: 1024px) {

    .all {
        margin: 0;
    }

    .heading_our,
    .heading_projects {
        text-align: center;
    }

    .block {
        display: grid;
        grid-template-columns: 40% 60%;
        text-align: center;
    }

    .h_block {
        font-size: 25px;
    }

    .text_block {
        margin: 4%;
    }

    .btns {
        margin-left: 2%;
    }


    @media all and (max-width: 650px) {

        .all {
            margin: 0;
        }

        .heading_our,
        .heading_projects {
            text-align: center;
        }

        .block {
            display: grid;
            grid-template-columns: 100%;

            text-align: center;
        }

        .h_block {
            font-size: 25px;
        }

        .text_block {
            margin: 4%;
        }

        .btns {
            margin-left: 2%;
            width: 70%;
        }

        .slash {
            margin-top: 8px;
        }
    }