@font-face {
    font-family: "TTHoves-Regular";
    src: url(../fonts/TTHoves-Regular.woff) format("woff"),
      url(../fonts/TTHoves-Regular.ttf) format("truetype"),
      url(../fonts/TTHoves-Regular.woff2) format("woff2");
    font-style: normal;
  }

  @font-face {
    font-family: "TTHoves-Bold";
    src: url(../fonts/TTHoves-Bold.woff) format("woff"),
      url(../fonts/TTHoves-Bold.ttf) format("truetype"),
      url(../fonts/TTHoves-Bold.woff2) format("woff2");
    font-style: normal;
  }

  .wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
  h1 {
    font-weight: normal;
    font-size: 1em;
  }
  .heading {
    font-family: TTHoves-Bold;
    text-align: center;
    font-size: 25px;
    color: #333333;
    margin: 15% 0 10% 0;
  }
  .success {
    text-align: center;
    margin: 15% 0 10% 0;
  }
  .text {
    text-align: center;
    font-family: TTHoves-Bold;
    font-size: 14px;
    color: #4f4f4f;
    margin-bottom: 30%;
  }

  .button{
    background-color: #333333;
    width: 100%;
    min-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .btn {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }